# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Directories
*/AddressBook/Debug/
*/AddressBook/ipch/
*/AddressBook/AddressBook/Debug/

# Files
*.user
*.sdf
*.opensdf